<div class="container my-4">

  <div class="row">
    <div class="mb-2 text-center col-lg-6 col-sm-12">
      <label class="fs-4 fw-bold" i18n>Canción: {{cancion?.titulo}}</label>
    </div>
    <div class="mb-2 text-center col-lg-6 col-sm-12">
      <button *ngIf="cancion" type="button" class="btn btn-success ms-3 me-2" (click)="goToEdit()"
        title="Editar canción"><i class="bi bi-pencil-square"></i></button>
      <button *ngIf="cancion" type="button" class="btn btn-comment me-1 me-2" (click)="goToCommentCancion()"
        title="Comentar canción"><i class="bi bi-plus"></i><i class="bi bi-chat"></i></button>

      <button *ngIf="conreultok" type="button" class="btn btn-info me-1 me-2" (click)="delCancionFavorita()"
        title="Cancion selecconada como favorita"><i class="bi bi-spellcheck"></i><i
          class="bi bi-heart-fill"></i></button>
      <button *ngIf="conreult" type="button" class="btn btn-info me-1 me-2" (click)="selCancionFavorita()"
        title="Seleccionar canción como favorita"><i class="bi bi-plus"></i><i class="bi bi-heart"></i></button>

      <button *ngIf="cancion" type="button" class="btn btn-share me-1" (click)="openShare(content)"
        title="Compartir álbum"><i class="bi bi-share-fill"></i></button>

      <button *ngIf="cancion" type="button" class="btn btn-danger me-1" (click)="eliminarCancion()"
        title="Eliminar canción"><i class="bi bi-trash-fill"></i></button>
    </div>
  </div>

  <div class="mt-2 mb-2 row">
    <div class="col-lg-6 col-sm-12 my-1">
      <div class="card">
        <div class="card-body">
          <p class="my-0"><span class="fw-bold" i18n>Duración: </span> <span
              class="text-capitalize">{{cancion?.minutos|number:'2.0'}}:{{cancion?.segundos|number:'2.0'}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 my-1">
      <div class="card">
        <div class="card-body">
          <p class="my-0"><span class="fw-bold" i18n>Intérpretes: </span> <span
              class="text-capitalize">{{cancion?.interprete}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 my-1">
      <div class="card">
        <div class="card-body">
          <p class="my-0"><span class="fw-bold" i18n>Género: </span> <span
              class="text-capitalize">{{cancion?.genero?.llave}}</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mt-3 mb-2 col-12 ms-2">
      <h5 i18n>Álbumes</h5>
    </div>
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center" i18n>Título</th>
            <th scope="col" class="text-center" i18n>Año</th>
            <th scope="col" class="text-center" i18n>Medio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of cancion?.albumes">
            <td>{{album.titulo}}</td>
            <td class="text-center">{{album.anio}}</td>
            <td>{{album.medio.llave}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mt-3 mb-2 col-12 ms-2">
      <h5>Comentarios</h5>
    </div>
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center" i18n>Comentario</th>
            <th scope="col" class="text-center" i18n>Usuario</th>
            <th scope="col" class="text-center" i18n>Fecha y Hora</th>
            <th scope="col" class="text-center" i18n></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comentario of comentarios">
            <td>{{comentario.comentario}}</td>
            <td class="text-center">{{comentario.usuarioo.nombre}}</td>
            <td>{{comentario.fecha}}--{{comentario.hora}}</td>
            <td><button *ngIf="comentario && comentario.usuarioo.id == userId" type="button" class="btn btn-danger me-1"
                (click)="eliminarComentario(comentario)" title="Eliminar comentario"><i
                  class="bi bi-trash-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <app-cancion-share [albumComp]="cancion.id"></app-cancion-share>
</ng-template>
