/* You can add global styles to this file, and also import other style files */
body{
  background-color: #F9FBFC;
  overflow-x: hidden;
}

/**Card and table**/
.card-header,th{
  background-color: #F2F3F7!important;
  border-color: #F2F3F7;
}

.card, .table-light, tbody, td, tfoot, th, thead, tr{
  border-color: #F2F3F7;
}

/**Buttons**/
.btn-primary, .btn-primary:hover, .btn-outline-primary, .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,.btn-primary.disabled, .btn-primary:disabled, .btn-success,.btn-success:hover{
  background-color: #5a52d1;
  border-color: #5a52d1;
}
.btn:hover{
  opacity: 0.8;
}
.btn{
  font-weight: 500;
}
.btn-secondary, .btn-secondary:hover{
  background-color: #c6cad3;
  border-color: #c6cad3;
}
.btn-danger,.btn-danger:hover{
  background-color: #e66967;
  border-color: #e66967;
}
.btn-info,.btn-info:hover{
  background-color: #ee9d67;
  border-color: #ee9d67;
  color: #fff;
}

.btn-share,.btn-share:hover{
  background-color: #1962D1;
  border-color: #1962D1;
  color: #fff;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}
