<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="px-2 col-xs-10 col-lg-5 card ">
      <div class="text-center card-body">
        <h1 i18n class="my-2">Acerca de Ionic</h1>
        <p i18n class="my-2">Ionic es una herramienta que ofrece a los melómanos, coleccionistas y personas con grandes volúmenes de música recolectada, la posibilidad de almacenar en línea la información de su colección musical, y tener un espacio para buscar y ubicar las canciones y álbumes que quiere escuchar de su colección de manera más fácil.

          En el diseño se propone una solución para hacer la experiencia de usuario mejor y facilitar la interacción entre los usuarios registrados. El usuario registrado en la aplicación podrá compartir álbumes y/o canciones, agregar comentarios sobre los mismos y agregar a favoritos según sea sus preferencias.</p>
      </div>
      <div class="text-center card-body">
        <h2 i18n class="my-2">Elaborado por:<h2>
        <ul>
          <li>Ricardo Calle</li>
          <li>Ginett Rosales</li>
          <li>Maria Gaitan</li>
          <li>Carlos Pinto</li>
          <li>Daniel Quiceno</li>
        </ul>
      </div>
    </div>
</div>
