<div class="d-flex" id="wrapper">
  <app-menu></app-menu>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-header></app-header>

        <div class="container my-4">
          <div class="row">

            <div class="text-left col-10"> 
              <label class="fs-4" i18n>Acerca de Ionic</label>
            </div>

            <div class="text-justify">
              <p class="my-2 text-justify" i18n>
                Ionic es una herramienta que ofrece a los melómanos, coleccionistas y personas con grandes volúmenes de música recolectada, la posibilidad de almacenar en línea la información de su colección musical, y tener un espacio para buscar y ubicar las canciones y álbumes que quiere escuchar de su colección de manera más fácil.
                En el diseño se propone una solución para hacer la experiencia de usuario mejor y facilitar la interacción entre los usuarios registrados. El usuario registrado en la aplicación podrá compartir álbumes y/o canciones, agregar comentarios sobre los mismos y agregar a favoritos según sea sus preferencias.</p>
            </div>


            <div class="text-left col-10">
              <label class="fs-4" i18n>Elaborado por:</label>
            </div>

            <div class="text-justify">
              <p class="my-2 text-justify" i18n>
                <ul>
                  <li>Ricardo Calle</li>
                  <li>Ginett Rosales</li>
                  <li>Maria Gaitan</li>
                  <li>Carlos Pinto</li>
                  <li>Daniel Quiceno</li>
                </ul>
            </div>


          </div>
        </div>

    <!-- /#container-fluid -->
  </div>
</div>
<!-- /#wrapper -->
<app-footer></app-footer>
