
  <div class="sidebar-heading text-center"><img src="/assets/img/ionic_logo.png" class="img-navbar"> </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light"> </a>
    <a (click)="goTo('album')"    class="list-group-item list-group-item-action bg-light">  <i class="bi bi-folder-fill"></i> Álbumes</a>
    <a (click)="goTo('cancion')"  class="list-group-item list-group-item-action bg-light">  <i class="bi bi-earbuds"></i> Canciones </a>
    <a (click)="goTo('acercade')" class="list-group-item list-group-item-action bg-light">  <i class="bi bi-eye-fill"></i> Acerca de </a>
    <a (click)="goTo('logIn')"    class="list-group-item list-group-item-action bg-light">  <i class="bi bi-lock-fill"></i> Salir </a>
    <a class="list-group-item list-group-item-action bg-light"> </a>
  </div>
