      <div class="well">
        <ul class="nav nav-listnavbar-nav bg-gradient-success sidebar sidebar-dark accordion">
          <li class="nav-header col-12"><img src="/assets/img/ionic_logo.png" class="img-navbar"></li>
          <li class="col-12"><p><hr class="sidebar-divider my-0"></li>
          <li class="col-12">
            <a class="nav-link" (click)="goTo('album')"><li class=''> <i class="bi bi-window-dock"></i> Álbumes</a>
          </li>
          <li class="col-12"><hr class="sidebar-divider my-0"></li>
          <li class="col-12">
            <a class="nav-link" (click)="goTo('cancion')"><i class="bi bi-volume-down-fill"></i> Canciones</a>
          </li>
          <li class="col-12"><hr class="sidebar-divider my-0"></li>
          <li class="col-12">
            <a class="nav-link" (click)="goTo('logIn')"> <i class="bi bi-lock-fill"></i> Salir</a>
          </li>
          <li class="col-12"><hr class="sidebar-divider my-0"></li>
        </ul>
      </div>



<!-- End of Sidebar -->

