<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <app-menu></app-menu>
  </div>
  <div id="page-content-wrapper">
    <app-header></app-header>
    <div class="container-fluid">
      <div class="container my-4">
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="text-center col-10">
                    <label class="fs-4" i18n>Canciones</label>
                  </div>
                  <div class="text-center col-2">
                    <button type="button" class="my-1 btn btn-primary btn-circle" (click)="irCrearCancion()"><i
                        class="bi bi-plus-lg"></i></button>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <div class="my-2 input-group">
                  <input #busqueda type="search" class="form-control" placeholder="Buscar canciones" aria-label="Search"
                    (keyup)="buscarCancion(busqueda.value)">
                  <div class="text-center col-2">
                    <button type="button" class="my-1 btn btn-filter btn-circle" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilters"><i
                        class="bi bi-filter"></i></button>
                  </div>
                </div>
                <div id="collapseFilters" class="col-12 my-2" [ngbCollapse]="isCollapsed">
                  <div class="col-6" style="padding-right:.25rem;">
                    <select #genero class="form-select" (change)="filtrarGenero(genero.value)">
                      <option value="" disabled selected>Género</option>
                      <option *ngFor="let genero of generos" value={{genero.valor}}>{{genero.llave}}</option>
                    </select>
                  </div>
                  <div class="col-6" style="padding-left:.25rem;">
                    <select #interprete class="form-select" (change)="filtrarInterprete(interprete)">
                      <option value="" disabled selected>Intérprete</option>
                      <option *ngFor="let cancion of canciones" value={{cancion.interprete}}>{{cancion.interprete}}</option>
                    </select>
                  </div>
                </div>
                <table class="table mb-0 table-hover" aria-describedby="colecName" ngTabl>
                  <tbody>
                    <tr *ngFor="let cancion of mostrarCanciones | paginate: {itemsPerPage: 5, currentPage:p}; index as i" (click)="onSelect(cancion, i)"
                      [ngClass]="{'selected': i === indiceSeleccionado} ">
                      <td>{{cancion.titulo}}</td>
                      <td>{{cancion.minutos|number:'2.0'}}:{{cancion.segundos|number:'2.0'}}</td>
                    </tr>
                  </tbody>
                  <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
                </table>

              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-12">
            <app-cancion-detail (deleteCancion)="eliminarCancion()" [cancion]="cancionSeleccionada">
            </app-cancion-detail>

          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<!-- /#wrapper -->
