.header {
  background-color: #181D22;
  color: #f1f1f1;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;

  width: 100%;
  height: 15%;
}

.texto_der {
  text-align: right;
}

.navbar,
.nav {
  background-color: #181D22;
}
